/*General*/
#kt_aside .kt-menu__link .kt-menu__link-text { height: 40px !important; }
.disableMinimizeHeader { height: 80px !important }
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu
.kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-icon { color: #4c81d1 }
#spnEflowDesignerText:hover { color: #4c81d1 !important }
#kt_aside .kt-menu__ver-arrow { margin-right: 30px; }

/*Desktop*/
@media (min-width: 1025px) { .kt-aside--minimize .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text { display: unset !important; visibility: hidden; }
    .kt-aside-menu .kt-menu__nav .kt-menu__item .kt-menu__submenu .kt-menu__item--parent { display: unset !important; }
    #kt_aside { margin-left: -10px; width: 120px; }
    .kt-aside-menu .kt-menu__nav > .kt-menu__item { justify-content: unset !important; position: relative; margin: 2px 0; }
    #kt_aside { position: fixed; top: 80px; bottom: 0; left: 0;}
    .kt-header__brand { width: 110px; -webkit-transition: all .3s ease; transition: all .3s ease; }
    #kt_header { left: 0px !important; }
    #kt_header_brand { padding-bottom: 80px; background: white; }
    #as-ktmenu-nav { margin-left: 25px }
    #kt_wrapper { padding-left: 110px !important; }
    .kt-aside .kt-aside-menu .kt-menu__nav > .kt-menu__item { height:auto !important; margin-top: 10px; margin-bottom:12px; }
    .kt-menu__item_last { padding-bottom: 15px; }
    .designer-li-lefticon { margin-bottom: -30px !important; }
}

/*Mobile and Tablet*/
@media (max-width: 1025px) {
    .processtype-default { margin-left: -16px; margin-right: 7px; }
    #kt_header_brand { display: none; }
    .designer-li-lefticon{display:none !important;}
    .process-root-arrow { margin-right: 0px !important; }
}

/*Mobile*/
@media (max-width: 550px) {
    .processtype-default { display:none !important;}
}

/*Custom Scrollbar*/
.custom-scrollbar { overflow-y: auto; margin-right: 1px; height: 100%; overflow-x:hidden}
#kt_aside_menu_wrapper::-webkit-scrollbar { width: 6px; background-color: #ececec; -webkit-border-radius: 80px; }
    #kt_aside_menu_wrapper::-webkit-scrollbar:hover { background-color: #ddd; }
#kt_aside_menu_wrapper::-webkit-scrollbar-thumb:vertical { background: #ddd; -webkit-border-radius: 80px; }
    #kt_aside_menu_wrapper::-webkit-scrollbar-thumb:vertical:active { background: #ddd; -webkit-border-radius: 80px; }

#kt_aside .kt-aside-menu .kt-menu__link { cursor: default !important; }
#kt_aside .kt-menu__link-text { color: #9899ac;}
#kt_aside .kt-menu__link-bullet--dot > span { background-color: #b8bac3 !important; }

#as-ktmenu-nav > li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--open > div > ul > li > a > span:hover { color: #4c81d1 !important; cursor: pointer; }
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link { padding: 0px; padding-left: 55px; }

#as-ktmenu-nav > li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--open > div > ul >
li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--open > div > span > span > ul > li > a > span:hover { color: #4c81d1 !important; cursor: pointer; }

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav >
.kt-menu__item > .kt-menu__submenu .kt-menu__subnav .kt-menu__item .kt-menu__link> span { padding-bottom:10px !important }

    .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav >
    .kt-menu__item > .kt-menu__submenu .kt-menu__subnav .kt-menu__item .kt-menu__link > span:hover { color: #4c81d1 !important; cursor: pointer; }


#as-ktmenu-nav > li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--open > div > ul > 
li.menu-item-level.kt-menu__item.kt-menu__item--submenu > div > span > span > ul > 
li.menu-item-level.kt-menu__item.kt-menu__item--submenu > div > span > span > ul > 
li.menu-item-level.kt-menu__item.kt-menu__item--submenu > div > span > span > ul > li > a
{
    margin-left:25px !important;
}

#as-ktmenu-nav > li.kt-menu__item.kt-menu__item--submenu > div > ul >
li.kt-menu__item.kt-menu__item--submenu > div > span > span > ul >
li.kt-menu__item.kt-menu__item--submenu > a > i.kt-menu__ver-arrow.la.la-angle-right { margin-right: 0px !important; }

#as-ktmenu-nav > li.kt-menu__item.kt-menu__item--submenu > div > ul >
li.kt-menu__item.kt-menu__item--submenu > div > span > span > ul >
li.kt-menu__item.kt-menu__item--submenu > div > span > span > ul >
li.kt-menu__item.kt-menu__item--submenu > a > i.kt-menu__ver-arrow.la.la-angle-right { margin-right: 0px !important; }
