/* Credit Card Form with Preview */
.ef3-credit-card-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 793px;
}

.custom-design .card-body .ef3-credit-card-container {
    margin-bottom: 1.25rem;
    margin-right: 4px;
}
/* ----  */
.ef3-inner-wrap {
    max-width: 100%;
}

.ef3-card-form {
    min-width: 0;
}

.ef3-ccform-footer {
    width: 100%;
}

.ef3-inner-wrap {
    display: flex;
    gap: 3rem;
}

.ef3-card-preview {
    perspective: 1000px;
    flex: 0 0 320px;
    align-self: flex-start;
}

.ef3-card {
    width: 413px;
    height: 260px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.ef3-card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 15px;
    border: 1px solid #e6e6e6;
    backface-visibility: hidden;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15);
}

.ef3-card-front {
    background: #ffffff url(../assets/theme/default/dist/default/assets/media/icons/credit-card-logos/ef3-cc-bg.svg) no-repeat 0 0;
    background-size: cover;
}

.ef3-card-back {
    background: #ffffff url(../assets/theme/default/dist/default/assets/media/icons/credit-card-logos/ef3-cc-bg2.svg) no-repeat 0 0;
    background-size: cover;
    transform: rotateY(180deg);
}

.ef3-card.flipped {
    transform: rotateY(180deg);
}

.ef3-card-logo {
    text-align: right;
    font-weight: bold;
}

    .ef3-card-logo img {
        width: auto;
        height: 48px;
    }

.ef3-card-number {
    margin-top: 2rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #333333;
}

.ef3-card-info {
    margin-top: 3rem;
}

.ef3-card-name,
.ef3-card-expiry {
    font-size: 1.4rem;
    color: #333333;
    font-weight: 600;
}

.ef3-card-expiry {
    margin-top: 0.5rem;
}

.ef3-card-cvv-box {
    margin-top: 3.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.ef3-card-cvv-label {
    display: flex;
    line-height: 24px;
    font-size: 1rem;
    color: #333333;
}

.ef3-display-cvv {
    flex: 0 0 50px;
    font-size: 1.2rem;
    line-height: 24px;
    font-weight: 600;
    color: #333333;
}

/* ------------ */

.ef3-card-form {
    display: flex;
    flex-direction: column;
    flex: 1 1 320px;
    min-width: 320px;
}

.ef3-form-group {
    position: relative;
    margin-bottom: 2rem;
}

.ef3-input {
    /* width: 100%;
    padding: 0.5rem 0;
    font-size: 1rem;
    border: 2px solid #c9c9c9;
    border-width: 0 0 2px 0;
    border-radius: 0;
    background: none; */
}

.ef3-input-pay {
    text-align: right;
    padding-right: 25px;
}

    .ef3-input-pay::placeholder {
        text-align: left;
    }

.form-control.form-control-solid.ef3-input.input-error,
.ef3-input.input-error:focus {
    border-color: #e72727 !important;
}

.ef3-input:focus {
    /* outline: none;
    border-color: #007bff; */
}

    .ef3-input:focus + label,
    .ef3-input:not(:placeholder-shown) + label {
        top: -4px;
        left: 0;
        font-size: 0.85rem;
        color: #333333;
        background: white;
        padding: 0px;
    }
/*label:not(.ef3-expiry-label) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    background: white;
    padding: 0;
    pointer-events: none;
    font-size: 1rem;
}*/
.ef3-form-row {
    display: flex;
    gap: 1rem;
}

.ef3-form-group.ef3-form-expiry-group {
    margin-bottom: 0;
}

.ef3-expiry-label {
    font-size: 0.95rem;
    color: #646c9a;
}

.ef3-expiry-inputs {
    display: flex;
    gap: 2rem;
}

    .ef3-expiry-inputs .ef3-form-group {
        flex: 0 0 92px;
    }

        .ef3-expiry-inputs .ef3-form-group.hasCVV {
            flex: 0 0 92px;
        }

.ef3-input-error {
    display: block;
    position: absolute;
    bottom: -18px;
    right: 0;
    color: #e72727;
    font-size: 0.85rem;
    text-align: right;
}

.ef3-expiry-inputs .ef3-input-error {
    right: auto;
    left: 0;
    color: #e72727;
    text-align: left;
    min-width: 15rem;
}

.fa.cvv-tooltip {
    position: absolute;
    top: 12px;
    right: -20px;
    font-size: 1.1rem;
    color: #c9c9c9;
}

.fa.clear-input-error,
.fa.clear-input {
    position: absolute;
    top: 12px;
    right: 7px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #e72727;
}

.fa.clear-input {
    color: #b9b4b4;
}

.ef3-ccform-footer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

    .ef3-ccform-footer .ef3-ccform-footer-left,
    .ef3-ccform-footer .ef3-ccform-footer-right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .ef3-ccform-footer .ef3-ccform-footer-left {
        flex: 1 0 170px;
    }

.ef3-ccform-footer-right img {
    width: 35px;
    height: auto;
}

.ef3-cc-title {
    margin-bottom: 0.5rem;
    color: #646c9a;
}


@media (min-width: 320px) and (max-width: 718px) {
    .ef3-inner-wrap {
        flex-wrap: wrap;
        gap: 0;
    }

    .ef3-card-preview {
        padding-top: 0;
        margin-bottom: 2rem;
    }

    .ef3-ccform-footer .ef3-ccform-footer-right {
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .ef3-ccform-footer-right img {
        width: 30px;
    }
}

@media (min-width: 320px) and (max-width: 400px) {
    .ef3-card-preview {
        flex: 0 0 280px;
    }

    .ef3-card {
        width: 280px;
    }

    .ef3-card-form {
        flex: 1 1 275px;
        min-width: 256px;
    }
}


.ef3-credit-card-container .ef3-input:-webkit-autofill,
.ef3-credit-card-container .ef3-input:-webkit-autofill:hover,
.ef3-credit-card-container .ef3-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
    caret-color: inherit;
    transition: background-color 9999s ease-out 0s;
}

.ef3-credit-card-container .ef3-input:-moz-autofill {
    box-shadow: 0 0 0 1000px #fff inset !important;
    -moz-text-fill-color: #000 !important;
}

@media (max-width: 500px) {
    .custom-design {
        margin-right: 2px;
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    .custom-design {
        margin-right: 1px;
    }
}

@media (min-width: 768px) and (max-width: 1919px) {
    .custom-design {
        margin-right: 4px;
    }
}

@media (min-width: 1920px) {
    .custom-design {
        margin-right: 7px;
    }
}