/* begin :: DO NOT copy */
body {
    background: #eef0f8 url(../images/test-bg.png) no-repeat fixed 0 0;
    background-color: #eef0f8;
}

.sm-task-list-container-demo {
    margin: 233px 41px 0 125px;
}
/* end :: DO NOT copy */

.task-item-loading {
    display: flex;
    height: 91px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0px 1px 7px 1px rgb(69 65 78 / 10%) !important;
    background-color: #ffffff;
    border-radius: 0.42rem;
    padding: 10px 8px 10px 19px;
}

    .task-item-loading::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 6px;
        background-color: #d0d0d0;
        border-top-left-radius: 0.42rem;
        border-bottom-left-radius: 0.42rem;
    }

.placeholder-item {
    display: flex;
    flex: 2 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

    .placeholder-item.right {
        align-items: flex-end;
        flex: 1 0 auto;
    }

@keyframes placeHolderShimmer {
    0% {
        background-position: -500px 0
    }

    100% {
        background-position: 500px 0
    }
}

.shimmer {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: transparent;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 100px;
    min-height: 10px;
    position: relative;
    opacity: 0.5;
}


.modal-body-box-alert {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
}

    .modal-body-box-alert.centered {
        justify-content: center;
        text-align: center;
    }

    .modal-body-box-alert.info {
        border: 1px solid #4c81d1;
        color: #000000;
        background-color: rgba(76, 129, 209, 0.1);
    }


.es-usr-label-page-size {
    text-align: center;
    margin: 0.6rem 0.7rem 0.6rem 0;
}

.es-usr-table-sign {
    position: absolute;
    top: 58px;
    width: 468px;
    height: 503px;
}

    .es-usr-table-sign tbody > tr > td {
        cursor: pointer;
    }

.es-usr-move-sign-image {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    display: none;
}

.es-usr-ddl-pagesize {
    width: 220px !important;
    font-size: 13px !important;
}

.es-usr-preview-pdf {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    opacity: 0.4;
    width: 466px;
    height: 500px;
}

.es-usr-table-cell {
    width: 91px;
    height: 53px;
    border: 1px solid #919191;
    display: flex;
    justify-content: center;
}

.es-tsk-label-page-size {
    text-align: center;
    margin: 0.6rem 0.7rem 0.6rem 0;
}

.es-tsk-table-sign {
    position: absolute;
    top: 58px;
    width: 468px;
    height: 503px;
}

    .es-tsk-table-sign tbody > tr > td {
        cursor: pointer;
    }

.es-task-move-sign-image {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    display: none;
}

.es-tsk-ddl-pagesize {
    width: 70px !important;
    font-size: 13px !important;
}

.es-tsk-preview-pdf {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    opacity: 0.4;
    width: 466px;
    height: 500px;
}

.es-tsk-table-cell {
    width: 91px;
    height: 53px;
    border: 1px solid #919191;
    display: flex;
    justify-content: center;
}

.loader-container {
    position: absolute;
    inset: 0;
    z-index: 51;
    text-align: center;
    background-color: #ffffff;
    display: none;
}

    .loader-container .inner {
        position: absolute;
        display: inline-block;
        height: 64px;
        width: 64px;
        top: 50%;
    }

        .loader-container .inner.loader-inline {
            height: 30px;
            width: 30px;
            margin-top: -15px;
            margin-left: -15px;
        }

.loading .loader-container {
    display: block;
}

.es-dms-label-page-size {
    text-align: center;
    margin: 0.6rem 0.7rem 0.6rem 0;
}

.es-dms-table-sign {
    position: absolute;
    top: 58px;
    width: 468px;
    height: 503px;
}

    .es-dms-table-sign tbody > tr > td {
        cursor: pointer;
    }

.es-dms-move-sign-image {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    display: none;
}

.es-dms-ddl-pagesize {
    width: 70px !important;
    font-size: 13px !important;
}

.es-dms-preview-pdf {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    opacity: 0.4;
    width: 466px;
    height: 500px;
}

.es-dms-table-cell {
    width: 91px;
    height: 53px;
    border: 1px solid #919191;
    display: flex;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer !important;
}