.text-pointer {
    cursor: pointer !important;
}

.unset-fontweight {
    font-weight: unset !important;
}

#undoDashboardChanges {
    display: block !important;
    font-size: 0.875rem !important;
}