textarea:focus, input:focus {
    outline: none;
}

.unRead {
    background-color: #f9f9fc
}

.kt-notification .kt-notification__item::after {
    content: none !important;
}

.btn.btn-default:hover {
    border-color: transparent !important;
}

.crossBrowserWordWrap {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.form-group.row > label.col-form-label > span {
    font-weight: 500 !important;
    color: #646c9a;
}

div.dataTables_wrapper div.dataTables_processing {
    left: 45% !important;
    top: 48% !important;
    width: 200px !important;
    position: fixed !important;
    margin-top: -26px !important;
    text-align: center !important;
    padding: 1em 0 !important;
    margin-left: 0px !important;
}

/* DT custom single sorting icons */
table.dataTable.custom-sorting-icon thead > tr > th.sorting_asc,
table.dataTable.custom-sorting-icon thead > tr > th.sorting_desc,
table.dataTable.custom-sorting-icon thead > tr > th.sorting,
table.dataTable.custom-sorting-icon thead > tr > td.sorting_asc,
table.dataTable.custom-sorting-icon thead > tr > td.sorting_desc,
table.dataTable.custom-sorting-icon thead > tr > td.sorting {
    padding: 1rem;
}

/* skip pseudo:before icon */
table.dataTable.custom-sorting-icon thead .sorting:before,
table.dataTable.custom-sorting-icon thead .sorting_asc:before,
table.dataTable.custom-sorting-icon thead .sorting_desc:before,
table.dataTable.custom-sorting-icon thead .sorting_asc_disabled:before,
table.dataTable.custom-sorting-icon thead .sorting_desc_disabled:before {
    display: none;
}

table.dataTable.custom-sorting-icon thead .sorting:after,
table.dataTable.custom-sorting-icon thead .sorting_asc:after,
table.dataTable.custom-sorting-icon thead .sorting_desc:after,
table.dataTable.custom-sorting-icon thead .sorting_asc_disabled:after,
table.dataTable.custom-sorting-icon thead .sorting_desc_disabled:after {
    display: inline-block !important;
    opacity: 1;
    position: relative;
    top: unset;
    right: unset;
    bottom: unset;
    font-family: Flaticon2;
    content: "";
    font-size: 0.7rem;
    line-height: 0;
    padding-left: 0.25rem;
    top: -1px;
}

table.dataTable.custom-sorting-icon thead .sorting_asc:after {
    content: "\f1b5";
}

table.dataTable.custom-sorting-icon thead .sorting_desc:after {
    content: "\f1b4";
}

table.dataTable.custom-sorting-icon thead .sorting_asc,
table.dataTable.custom-sorting-icon thead .sorting_desc,
table.dataTable.custom-sorting-icon thead .sorting_asc:after,
table.dataTable.custom-sorting-icon thead .sorting_desc:after {
    color: #4c81d1;
}

table.dataTable.custom-sorting-icon thead .sorting_asc_disabled:after,
table.dataTable.custom-sorting-icon thead .sorting_desc_disabled:after {
    display: none;
    content: "";
}
