k-pager-sizes.k-label
{
    display:none;
}

.k-pager-wrap .k-pager-sizes {
    display: none !important;
}

.k-grid > .k-grid-header th.k-header, .k-pager-wrap, .k-grid-content table tr td {
    background-color: white;
}

.k-pager-info {
    font-family: Poppins;
    font-size: 12px;
}

.k-grid .k-pager-numbers {
    float: right;
}

.k-pager-numbers .k-state-selected {
    border: none !important;
    background: #4c81d1;
    color: #ffffff;
    margin-top: 12px;
    padding: 1px !important;
    border-radius: 3px;
    font-weight: 400;
}

span.k-pager-info.k-label {
    float: left !important;
}

.k-pager-wrap {
    padding-right: 20px !important;
}

.k-grid-pager .k-link, .k-grid-pager .k-link:link {
    color: #93a2dd;
    font-weight: 400;
}

.k-pager-wrap .k-link {
    float: right;
    margin-top: 5px;
}

.k-grid-excel {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.k-header.k-grid-toolbar {
    background: white !important;
}

.k-grid-content
{
    height:100% !important;
}

.color-grey {
    cursor: pointer;
    color: #ddd;
}

.color-blue {
    cursor: pointer;
    color: #3f51b5 !important;
}

.k-grid-content table tr:first-child td, .k-grid-content-locked table tr:first-child td {
    border: 1px solid #f6f6f6 !important;
}

.k-grid-content table tr td, .k-grid-content-locked table tr td {
    border: 1px solid #f6f6f6 !important;
}

.icon-star {
    margin-left: -7px;
}

.icon-star:before {
    content: "\f005";
}

.icon-star-empty:before {
    content: "\f006";
}

[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}

.modaltype .select2-selection--single, .modaltype .select2-container {
    width: 300px !important;
}

.divider
{
    display:none;
}

.dropdown-menu-right li
{
    height:30px !important;
}

.k-current-page
{
    display:none;
}

.select2-selection--single {
    height: 40px !important;
}

.k-header.k-grid-toolbar {
    border-color: #ddd;
}

.swal2-actions
{
    visibility:hidden;
}

.kt-portlet {
    margin-bottom: 0px !important;
}