@import url(font.css);
@import url(font-awesome.min.css);

.k-list-container ul {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    max-height: 250px;
}

.k-custom-delete-button {
    border: none !important;
    background-color: #FFF !important;
    background: #FFF !important;
    box-shadow: none !important;
    text-decoration: none !important;
    cursor: pointer;
}

    .k-custom-delete-button i {
        font-size: 15pt;
        color: #333;
    }

.removeIcon {
    width: 20px;
    height: 20px;
    background-image: url("/img/remove.png");
}

/*popupselectbox.old*/

.modal {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    .modal .modal-footer {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

.popupselectbox.old .modal-body {
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.popupselectbox.old .table {
    table-layout: fixed;
    /*font-family: "Open Sans",sans-serif;*/
    font-size: 12px;
}

.popupselectbox.old .modal-body .table tr.theader th {
    color: #333333;
    border-style: solid;
    border-width: 0 0 1px 1px;
    font-weight: normal;
    overflow: hidden;
    padding: 0.5em 0.6em 0.4em;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-color: #DCDCDC #DCDCDC #B3B3B3;
    background-color: #F5F5F5;
    background-image: none, linear-gradient(to bottom, #FFFFFF 0px, #f7f8fa 100%);
    background-position: 50% 50%;
}

.popupselectbox.old .modal-body .table tr td {
    height: 20px;
    padding: 2px 10px 2px 10px;
    cursor: pointer;
    border-top: 1px solid #DDDDDD;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.popupselectbox.old .modal-body .table th input {
    /*font-family: "Open Sans",sans-serif;*/
    font-size: 12px;
    margin-bottom: 0;
    padding: 4px 24px;
    border: 0;
    background: url("/img/modernui/search-dark.png") no-repeat scroll 5px 6px #fff;
    width: 100%;
    opacity: 0.7;
    background-color: #fafafa;
    filter: alpha(opacity=70);
}

    .popupselectbox.old .modal-body .table th input:focus {
        opacity: 1;
        filter: alpha(opacity=100);
        background-color: #fdfdfd;
    }

.popupselectbox.old .modal-body .table .thefilter th {
    background: none;
    background-color: #fafafa;
    border-top: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 0;
}

.popupselectbox.old.modal {
    /*width: 750px;*/
    margin-left: 75px;
}

.popupselectbox.old .modal-header .close {
    margin-top: 0;
}

.popupselectbox.old .modal-header, .popupselectbox.old .modal-footer {
    color: #333333;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    font-weight: normal;
    overflow: hidden;
    padding: 0.5em 0.6em 0.4em;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-color: #DCDCDC #DCDCDC #B3B3B3;
    background-color: #F5F5F5;
    background-image: none, linear-gradient(to bottom, #ffffff 0px, #f7f8fa 100%);
    background-position: 50% 50%;
}

    .popupselectbox.old .modal-header h3 {
        font-size: 16px;
        color: #333;
        line-height: 18px;
        font-weight: normal;
    }

.popupselectbox.old .tabnav a {
    border-radius: 13px 13px 13px 13px;
    cursor: pointer;
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 1px;
    padding: 0 3px;
}

    .popupselectbox.old .tabnav a span {
        font-size: 12px;
        padding: 0 5px;
    }

    .popupselectbox.old .tabnav a.pagenum {
        background: none;
        border: 1px solid transparent;
        color: grey;
    }

        .popupselectbox.old .tabnav a.pagenum:hover {
            background: #999;
            border: 1px solid #888;
            color: #888;
            color: #fff;
        }

        .popupselectbox.old .tabnav a.pagenum.selectednum {
            background: #22b9ff;
            border: 1px solid #22b9ff;
            color: #fff;
            border-radius: 3px;
            font-weight: 400;
        }

    .popupselectbox.old .tabnav a.navlink {
        background: none;
        border: 1px solid #aaa;
        color: #aaa;
    }

        .popupselectbox.old .tabnav a.navlink.active {
            background: none;
            border: 1px solid #aaa;
            color: #888;
        }

            .popupselectbox.old .tabnav a.navlink.active:hover {
                background: #ddd;
                border: 1px solid #aaa;
                color: #888;
            }

.thefilter.old .filter_column input, .usertable .thefilter .filter_column input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    box-shadow: none;
    margin-bottom: 0;
    padding: 4px 0;
    text-indent: 8px;
    width: 100%;
}

    .thefilter.old .filter_column input:focus, .usertable .thefilter .filter_column input:focus {
        border: 1px solid #368EE0;
    }

.thefilter.old .filter_column select, .usertable .thefilter .filter_column select {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 0;
    width: 100%;
}

.selectortable.old .tableheader table {
    margin-bottom: 0;
    padding-right: 17px;
}

.selectortable.old .tableheader {
    margin-bottom: 0;
    overflow: hidden;
    background-color: #F5F5F5;
    background-image: none, linear-gradient(to bottom, #FFFFFF 0px, #E6E6E6 100%);
    background-position: 50% 50%;
}

.selectortable.old .tablebody table {
    padding: 0;
    margin-bottom: 0;
}

.selectortable.old .tablebody {
    height: 260px;
    overflow-y: scroll;
    overflow-x: auto;
}

    .selectortable.old .tablebody table tbody tr.selected td {
        background-color: #2e40d4;
        color: #fff;
    }

    .selectortable.old .tablebody table tbody tr:first-child td {
        border-top: 0;
    }

/*.k-pager-wrap {
    pointer-events: none;
}*/


/*.ui-resizable {
    width: 750px !important;
}*/

.k-header.k-grid-toolbar {
    border-color: #3343a4;
    background-color: #f3f3f3 !important;
}

@media (min-width: 576px) {
    .modal-dialog.old { max-width: 700px !important; margin: 1.75rem auto; }
}
