.dx-scrollable-scrollbars-alwaysvisible.dx-scrollable-both > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content, .dx-scrollable-scrollbars-alwaysvisible.dx-scrollable-vertical > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content {
     padding-right: 0px !important; 
}
.card-description {
    min-height: 30px;
}

.dx-scrollable-content
{
    padding-bottom: 0px !important;
}

body.modal-open {
    overflow: hidden !important;
}

.header-toolbar {
    padding-right: 10px;
}

.header-label {
    padding-left: 3px;
}

.from-control-label {
    width: 97%;
}

#editLabelForm {
    margin-left: 12px;
}

.kt-nav {
    padding-bottom: 0px !important;
}

    .kt-nav .kt-nav__item {
        margin-bottom: 5px;
    }

        .kt-nav .kt-nav__item > .kt-nav__link {
            padding: 0.2rem 1.75rem !important;
            font-size: 8px;
            margin-top: 3px;
        }

            .kt-nav .kt-nav__item > .kt-nav__link .kt-nav__link-text {
                font-size: 11px !important;
            }

#kanban {
    white-space: nowrap;
}

.dx-scrollview-content .list {
    margin-right: 0.4rem;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

    .dx-scrollview-content .list .list-title {
        font-size: 1.1rem;
        padding: 10px;
        padding-left: 0.75rem;
        font-weight: 600;
        cursor: pointer;
        background-color: #e3e8ef;
    }

        .dx-scrollview-content .list .list-title.col-header, .dx-sortable-clone .col-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            padding-left: 0.75rem;
            font-weight: 600;
            cursor: pointer;
            background-color: #e3e8ef;
            border-top-left-radius: 0.42rem;
            border-top-right-radius: 0.42rem;
        }

        .dx-scrollview-content .list .list-title.col-header, .dx-sortable-clone .list-title.col-header {
            font-size: 1.1rem;
            font-weight: 600;
        }

            .dx-scrollview-content .list .list-title.col-header .add-sortable-card-main, .dx-sortable-clone .add-sortable-card-main {
                /*display: none;*/
                padding: 0;
                color: #4c81d1 !important;
                opacity: 1;
                transition: opacity 0.2s ease;
            }

    .dx-scrollview-content .list:has(.dx-card) .list-title.col-header .add-sortable-card-main {
        display: block;
    }

.dx-card__toolbar {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e7ecff;
    margin: 0.35rem -0.75rem 0;
}

    .dx-card__toolbar .dx__left {
        display: flex;
        margin-left: 0.75rem;
    }

    .dx-card__toolbar .dx__right {
        display: flex;
        margin-right: 0.15rem;
    }

    .dx-card__toolbar .dx__left > span {
        margin-right: 0.85rem;
    }

    .dx-card__toolbar .dx__left > span,
    .dx-card__toolbar .dx__right .btn.btn-sm {
        color: #aeb2c3;
        font-size: 0.85rem;
        font-weight: 400;
        transition: color 0.25s ease;
    }

        .dx-card__toolbar .dx__left > span:hover {
            color: #6c7293;
        }

        .dx-card__toolbar .dx__right .btn.btn-sm.card_tags:hover {
            color: #4c81d1;
        }

        .dx-card__toolbar .dx__right .btn.btn-sm.card_remove:hover {
            color: #fd397a;
        }

        .dx-card__toolbar .dx__left > span i.la {
            margin-right: 0.2rem;
        }

        .dx-card__toolbar .dx__left > span i.la,
        .dx-card__toolbar .dx__right .btn i.la {
            font-size: 1.2rem;
        }

    .dx-card__toolbar .dx__right .btn {
        height: 2.25rem;
        width: 2.25rem;
    }


.scrollable-list {
    width: 260px;
    height: calc(100vh - 270px);
}

#tableFilteHeader {
    padding-left: 0px !important;
    margin-top: -10px !important;
}

.dx-scrollview-content .sortable-cards.dx-sortable {
    position: relative;
    min-height: 6rem;
    background-color: #e3e8ef;
    margin-top: -0.35rem;
}

    .dx-scrollview-content .sortable-cards.dx-sortable .dx-card, .dx-sortable-dragging.dx-sortable-clone .dx-card {
        display: flex;
        position: relative;
        box-sizing: border-box;
        padding: 0.55rem 0.75rem 0.25rem 0.75rem;
        margin: 0.5rem;
        cursor: pointer;
        box-shadow: 0 0 7px 0px rgb(0 0 0 / 8%);
        transition: box-shadow, border-color 0.25s ease;
        min-height: 5rem;
        flex-direction: column;
        justify-content: center;
        width: 246px;
    }

    .dx-scrollview-content .sortable-cards.dx-sortable.dx-sortable-source .dx-card {
        position: relative;
        box-sizing: border-box;
        padding: 0.55rem 0.75rem 0.25rem 0.75rem;
        margin: 0.75rem 0.5rem;
        cursor: pointer;
        box-shadow: 0 0 7px 0px rgb(0 0 0 / 8%);
        transition: box-shadow, border-color 0.25s ease;
        min-height: 5rem;
        /* flex-direction: column; */
        /* justify-content: center; */
        width: 245px;
    }

    .dx-scrollview-content .sortable-cards.dx-sortable .dx-card:hover {
        box-shadow: 0 0 7px 0px rgb(0 0 0 / 12%);
    }


.dx-scrollable-content .scrollview-skirt {
    /*display: flex;*/
    width: 100%;
    background-color: #e3e8ef;
    border-bottom-left-radius: 0.42rem;
    border-bottom-right-radius: 0.42rem;
}

.dx-scrollview-content .scrollview-skirt .add-sortable-card {
    position: relative;
    opacity: 1;
    padding-top: 0;
    font-weight: 500;
    color: #4c81d1;
}
    /* .sortable-cards.dx-sortable ~ .scrollview-skirt .add-sortable-card {
    top: -0.12rem;
    padding-top: 0;
} */


    .dx-scrollview-content .scrollview-skirt .add-sortable-card i {
        margin-left: 0.35rem;
        font-size: 0.85rem !important;
    }
/* @supports selector(:has(.dx-card)) {
    .dx-scrollable-content:has(.sortable-cards.dx-sortable .dx-card) .scrollview-skirt {
        
    }
} */


.dx-scrollable-container::-webkit-scrollbar {
    width: 5px;
}

.dx-scrollable-container::-webkit-scrollbar-track {
    background: #e3e8ef;
}

.dx-scrollable-container::-webkit-scrollbar-thumb {
    background-color: #d0d6df;
    border-radius: 4px;
    border: 2px solid transparent;
}

    .dx-scrollable-container::-webkit-scrollbar-thumb:hover {
        background-color: #cacfd8;
    }


.card-assignee {
    opacity: 0.6;
}

.card-priority {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 5px;
    width: 5px;
    border-radius: 2px;
    background: #86c285;
}

.priority-1 {
    background: #adadad;
}

.priority-2 {
    background: #86c285;
}

.priority-3 {
    background: #edc578;
}

.priority-4 {
    background: #ef7d59;
}

.dx-card .card-labels:has(.labels span) {
    margin-bottom: 0.35rem;
}

.dx-card .card-labels .kt-badge.kt-badge--inline {
    height: 0;
    width: auto;
    padding: 0.65rem 0.6rem;
    border-radius: 0.65rem;
    margin-right: 5px;
    font-size: 0.85rem;
    font-weight: 600;
}


body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.label-container {
    width: 410px;
    margin-top: 10px;
}

.right {
    float: right;
}

.left {
    float: left;
}

p {
    clear: both;
    padding-top: 1em;
}

.group-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    background: #eee;
    padding: 5px;
    width: 180px;
    min-height: 1.5em;
    font-size: 0.85em;
}

    .group-list li {
        margin: 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 160px;
    }

        .group-list li.placeholder {
            height: 1.2em
        }

.label {
    border: 1px solid #bbb;
    background-color: #fafafa;
    cursor: move;
}

    .label.ui-sortable-helper {
        opacity: 0.5;
    }

.placeholder {
    border: 1px solid orange;
    background-color: #fffffd;
}

.btn.btn-clean:hover {
    background: unset !important;
}

#quickLabels li {
    cursor: unset !important;
}

#kt_table_1_processing_license > div {
    display: none !important;
}

#addCard {
    /*margin-left: 10px;
    margin-right: 5px;*/
    visibility: hidden;
}

.dropdown-point {
    margin-top: -3px !important;
    height: 13px !important;
}

.dropdown-labels {
    float: right
}

.card-description {
    line-height: 1.3;
    overflow-wrap: break-word;
}

.kt-portlet {
    background-color: transparent !important;
}

#list-tablediv {
    box-shadow: unset !important;
}

/*colorbox-select start*/
.color-select-container {
    margin-left: -5px;
}

    .color-select-container .color-select-optgroup {
        display: block;
    }

    .color-select-container .color-select-option {
        height: 65px;
        width: 65px;
        margin: 3px;
        float: left;
        border-radius: 3px;
    }

    .color-select-container .color-select-option-selected, .color-select-container .color-select-option-selected:hover {
        border: 0.1px solid black;
        -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
        -moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
        box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
    }

.color-select-option:first-child {
    content: " ";
    display: block;
    clear: left;
}
/*colorbox-select end*/

.cardTotalCount {
    float: right;
    background: transparent;
    font-size: xx-small;
}

.cardSpinnerSize {
    width: 1rem !important;
    height: 1rem !important;
    visibility: hidden;
}

.header-count {
    display: flex;
    background: #e3e8ef;
    padding-left: 0.55rem;
    margin-top: -8px;
}

#kt_process_detail_form {
    margin-left: 10px;
}

.filter-icon {
    margin-left: -10px;
}

#p-search-area-panel {
    margin-left: 0px !important;
}

    #p-search-area-panel .kt-portlet {
        margin-bottom: -5px !important;
    }