/*Grid üst pagesize belirleme alanı iptal*/
#kt_table_1_length, #kt_table_2_length, #kt_table_3_length, #kt_table_4_length, dataTables_filter {
    display: none;
}

/*Grid in üzerindeki search alanı iptal, header a taşınacak*/
.dataTables_filter {
    display: none;
}

/*Grid kenarlıklar iptal*/
.kt-portlet .kt-portlet__body {
    padding: 0px !important;
}

.overflow-list .kt-portlet {
    margin-bottom: 4px !important;
}

.overflow-list-sub .kt-portlet {
    margin-bottom: 0px !important;
}

#tasklistdiv {
    box-shadow: 0 6px 4px -4px #f1f1f1 !important;
}

/*Grid row tüm alt boşluklar iptal*/
.kt-widget5 .kt-widget5__item {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 20px;
}

.kthovereffect:hover {
    color: #22b9ff !important;
    transition: color 0.3s ease;
    cursor: pointer;
}

.kt-widget5__title_nothover {
    font-size: 1.1rem;
    font-weight: 500;
    color: #6c7293;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    padding-top:4px;
}

#kt_table_1_wrapper .table-bordered, #kt_table_2_wrapper .table-bordered, #kt_table_3_wrapper .table-bordered,
#kt_table_4_wrapper .table-bordered {
    border: 0 !important;
}

/*Tablo içindeki border lar iptal*/
#kt_table_1 td {
    border: none !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
}

/*Tablo içindeki border lar iptal*/
#kt_table_2 .sorting_1, #kt_table_3 .sorting_1, #kt_table_4 .sorting_1 {
    border: none !important;
    padding-left: 0px !important;
}

/*Chrome un koyduğu tr border iptal*/
.sorting_1 {
    outline: none;
}

.kt-widget5 .kt-widget5__item {
    margin-top: -10px;
}

.kt-widget5 .kt-widget5__item .kt-widget5__content {
    /*padding-bottom: 12px !important;
        padding-top: 8px !important;*/
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

        .kt-widget5 .kt-widget5__item .kt-widget5__content .kt-widget5__desc {
            margin-bottom: 0px !important;
            padding-bottom: 9px !important;
            padding-top: 9px !important;
        }

.kt-widget5__desc {
    /*padding: 17px 0px 15px 0px !important;*/
}

.drowClass {
    margin-right: -10px;
    padding-right: 10px;
}


/*Paging iptal scroller koyulacak*/
div.dataTables_paginate {
    /*display: none;*/
    padding-right: 10px;
    padding-bottom: 20px;
}

div.dataTables_info {
    padding-left: 10px;
    padding-bottom: 20px;
}

div.dataTables_length {
    /*display: none;*/
}

th, td {
    /*white-space: nowrap;*/
}

tr:first-child .kt-widget5__item {
    margin-top: -13px;
}

/*tr:last-child .kt-widget5 {
    padding-bottom:0px;
}*/

/*Mobil görünüm*/
@media only screen and (max-width: 500px) {
    .kt-infos, .dataTables_info, .pagination a, .kt-widget5__title,
    .kt-font-info, .spnTaskUser, .kt-widget5__info, .kt-widget5__desc {
        overflow-wrap: anywhere;
        font-size: 10px !important;
        max-width: 100px;
    }
    .ellipsed {
        overflow: hidden;
        max-width: 300px;
        overflow-wrap: anywhere;
    }
    /*Mobil de row hover backgroud color değiştirme şimdilik kaldırıldı*/
    .drowClass {
        background-color: white !important;
    }
    .kt-widget5 .kt-widget5__item .kt-widget5__content {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }

    .kt-widget5 .kt-widget5__item {
        margin-top: -20px !important;
        margin-bottom: -9px !important;
    }

    #tasklistdiv
    {
        overflow-x:auto;
    }

}

@media only screen and (min-width: 500px) and (max-width: 920px) {

    .ellipsed {
       overflow-wrap:anywhere;
    }

}

@media only screen and (min-width: 920px) and (max-width: 1200px) {

    .ellipsed {
        overflow-wrap: anywhere;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {
    .drowClass { box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) !important; }

    /*.ellipsed { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 700px; }*/
}

@media only screen and (min-width: 1920px){
    .drowClass { box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) !important; }

    /*.ellipsed { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 750px; }*/
}
/*task-detail-loading start*/
.task-detail-spinner {
    height: 100px;
    width: 100px;
    margin: auto;
    display: flex;
    position: absolute;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, .15);
    border-right: 6px solid rgba(0, 174, 239, .15);
    border-bottom: 6px solid rgba(0, 174, 239, .15);
    border-top: 6px solid rgba(0, 174, 239, .8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#task-detail-overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
}
/*task-detail-loading end*/
