@media only screen and (min-width: 600px) {

    #kt_process_detail_form-sub .select2-container { min-width: 317px; }
}

@media only screen and (max-width: 1050px) {
    #kt_process_detail_form-sub, .select2-container--defaulttheme {
        display: none;
    }
}

#p-search-area-panel-sub { margin-left: 10px; }

#kt_process_detail_form-sub #p-search-area-panel-sub { top: 100% !important; }

#kt_process_detail_form-sub .btn-brand:hover { color: #fff; background-color: #22b9ff; border-color: #22b9ff; }

#kt_process_detail_form-sub .btn-outline-brand { color: #5867dd; border-color: #5867dd; }

#kt_process_detail_form-sub .btn-outline-brand:hover { background: #4c81d1 !important; color: white !important; }

#kt_process_detail_form-sub #p-processSelect-area-panel-sub,
#kt_process_detail_form-sub #p-search-process-criteria-panel-sub,
#kt_process_detail_form-sub #p-search-process-criteria-grid-panel-sub {
    height: 337px !important;
}

#kt_process_detail_form-sub #processCriteriaSearchArea-sub { border: 5px; margin-bottom: 10px; }

#kt_process_detail_form-sub .paramButtons:hover { background: #4c81d1 !important; color: white !important; font-size: 13px !important; border-color: #5867dd !important; }

#kt_process_detail_form-sub .paramButtons { color: #74788d !important; font-weight: 480; font-size: 13px !important; }

#p-processSelect-area-panel-sub > ul > li > div > div > div:nth-child(3) > span > span.selection,
#p-search-process-criteria-panel-sub > ul > li > div > div > div:nth-child(3) > span > span.selection,
#p-search-process-criteria-grid-panel-sub > ul > li > div > div > div:nth-child(3) > span > span.selection { display: none !important; }

#ProcessSelectAreaPanelTitle-sub, #ProcessSearchCriteriaTitle-sub, #SearchAreaPanelTitle-sub { margin-left: 25px !important; }

#kt_process_detail_form-sub #processCriteriaSearchArea-sub {
    margin-top: 12px !important;
    margin-left: 20px !important;
    margin-right: 16px !important;
    padding-bottom: 4px !important;
}

#kt_process_detail_form-sub .kt-portlet .kt-portlet__foot { padding: 5px !important; }

#btnAddFilter-sub { padding-top: 9px !important; padding-bottom: 9px !important; }

#SelectAllProcessLink-sub { margin-left: 50px !important; height: 35px !important; }

#spnAllSpesificProcesses-sub {}

.disablePointer-subList {
    opacity: 0.6;
    pointer-events: none;
}

.select2-container--defaulttheme .select2-dropdown {
    border: none;
    width: 360px !important;
    height: 259px;
}

.select2-container--defaulttheme .select2-results__option.select2-results__option--highlighted {
    background: #4c81d1;
    color: white;
}

.select2-container--defaulttheme {
    background: transparent;
    margin-left: 10px !important;
    margin-top: 16px !important;
}

    .select2-container--defaulttheme .select2-selection {
        border: none;
        height: 40px;
        background: #22b9ff;
    }

    .select2-container--defaulttheme .select2-results ul li {
        color: #6c7293;
    }

    .select2-container--defaulttheme .select2-dropdown {
        background: #f8f8f8;
        width: 384px !important;
    }

    .select2-container--defaulttheme .select2-dropdown {
        /*z-index: 97;*/
        overflow-y: scroll;
    }

.select2-container--defaulttheme .select2-container--open {
    top: 203px !important;
    left: 142px !important;
}

.select2-container--defaulttheme .select2-choices {
    min-height: 150px;
    max-height: 200px;
    overflow-y: auto;
}

    .select2-container--defaulttheme .select2-search__field {
        border: 1px solid #ebedf2;
    }


#p-search-process-criteria-panel-sub .filter-close {
    color: #5867dd;
    margin-bottom: 24px;
    margin-left: 30px;
}
#p-search-process-criteria-panel-sub .kt-quick-panel__close {background-color: white;}
#p-search-process-criteria-panel-sub .kt-quick-panel__close:hover {background-color: white;}
#p-processSelect-area-panel-sub .filter-close {
    color: #5867dd;
    margin-bottom: 24px;
    margin-left: 30px;
}
#p-processSelect-area-panel-sub .kt-quick-panel__close {background-color: white;}
#p-processSelect-area-panel-sub .kt-quick-panel__close:hover {background-color: white;}
#p-search-process-criteria-grid-panel-sub .filter-close {
    color: #5867dd;
    margin-bottom: 24px;
    margin-left: 30px;
}
#p-search-process-criteria-grid-panel-sub .kt-quick-panel__close {background-color: white;}
#p-search-process-criteria-grid-panel-sub .kt-quick-panel__close:hover {background-color: white;}
#p-assignedSelect-area-panel-sub .filter-close {
    color: #5867dd;
    margin-bottom: 24px;
    margin-left: 30px;
}
#p-assignedSelect-area-panel-sub .kt-quick-panel__close {background-color: white;}
#p-assignedSelect-area-panel-sub .kt-quick-panel__close:hover {background-color: white;}
#p-search-area-panel-sub .filter-close {
    color: #5867dd;
    margin-bottom: 24px;
    margin-left: 18px;
}
#p-search-area-panel-sub .kt-quick-panel__close {background-color: white;}
#p-search-area-panel-sub .kt-quick-panel__close:hover {background-color: white;}

#p-search-area-panel-sub .kt-portlet {
    margin-bottom: -5px !important;
}