@media screen and (max-width: 1050px) {
    div #kt_content_filter

{
    margin-bottom: 10px;
}

div#kt_subheader {
    margin-top: 50px;
}

#eflistsTableDiv {
    display: block;
}

}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #f0f3ff !important;
}

.table tr:hover {
    color: #212529;
    background-color: #fafbfc;
}

#eflistsTableDiv thead .ascOrder:before {
    right: 1em;
    content: "\2191";
    opacity: 0.3
}

#eflistsTableDiv thead .descOrder:after {
    right: 0.5em;
    content: "\2193";
    opacity: 0.3
}

#eflistsTableDiv thead .ascOrder-selected:before {
    right: 1em;
    content: "\2191";
    opacity: 1
}

#eflistsTableDiv thead .descOrder-selected:after {
    right: 0.5em;
    content: "\2193";
    opacity: 1
}

.truncate-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#list-tablediv {
    /*min-height: calc(100vh - 300px);*/
}

#eflistsTableDiv > tbody > tr:last-child {
    border-bottom: 1px solid #f0f3ff;
}

.overflow-list {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.list-items-footer {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.list-pagination-footer {
    text-align: right;
    margin-right: 10px;
}

.empty-row-bg {
    background: white !important;
}

.row-hg {
    height:37.8px !important;
}

.empty-table-alert {
    margin-bottom: 300px;
    text-align: center;
    background: white !important;
}

.alert-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-top: 100px;
}