/* kanban semantic loading */
.list_loading {
    display: flex;
    height: 100%;
}
.list_loading .kbl_column {
    display: flex;
    flex-direction: column;
    flex: 0 0 260px;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    margin-right: 0.4rem;
    padding-bottom: 0.7rem;
    background-color: #e3e8ef;
    border-radius: 0.42rem ;
}
.kbl_column .kbl_header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #d8dee5;
}
.kbl_column .kbl_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}
.kbl_card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0.55rem 0.75rem 0.25rem 0.75rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
    min-height: 5rem;
    border-radius: 0.42rem;
    border: 1px solid #e7ecff;
    overflow: hidden;
    box-shadow: 0 0 7px 0px rgb(0 0 0 / 8%);
}
.kbl_card .kbl_tags {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
.kbl_card .kbl_tags {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
.kbl_card .kbl_toolbar {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}
.kbl_card .kbl_toolbar .toolbar-left,
.kbl_card .kbl_toolbar .toolbar-right {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.kbl_card .kbl_toolbar .toolbar-right {
    justify-content: flex-end;
}
@keyframes placeHolderShimmer {
    0% {
        background-position: -500px 0
    }

    100% {
        background-position: 500px 0
    }
}
.kbl_shimmer,
.list_table_shimmer {
    border-radius: 0.25rem;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: transparent;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 100px;
    min-height: 10px;
    position: relative;
    opacity: 0.5;
}


/* List table content semantic loading */
.kt-portlet.lists_table_loading {
    margin-bottom: 0;
}
.lists_table_loading .kt-portlet__head {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.table.table-semantic-loading {
    margin-bottom: 0;
}
.table.table-semantic-loading thead tr th {
    vertical-align: middle;
}
.table.table-semantic-loading tbody tr td {
    vertical-align: middle;
    height: 40px;  
}
.table.table-semantic-loading thead tr th:first-child,
.table.table-semantic-loading tbody tr td:first-child {
    padding-right: 0.25rem;
    
}
.table.table-semantic-loading thead tr th:nth-child(2),
.table.table-semantic-loading tbody tr td:nth-child(2) {
    padding-left: 0.25rem;
}
