#list-tablediv {
    padding: 0px !important;
    box-shadow: 0px 0px 0px 0px rgba(69, 65, 78, 0.1) !important;
}

.multiple-form { background: #f9f9fc; }

.multi-form-top { background: white; }

.multiform-righttw { background: white }

.grid-form-group { /*padding-right: 2.8rem;*/ }

.btn.btn-default:hover { background: #4c81d1; }

.wd-btn { text-align: left; }

.wp-multiform-row { margin-left: 0px !important; margin-top:5px; }

.form-control-solid:focus,
.controls .currentClickedRow span.select2-selection.select2-selection--single:focus,
.controls .currentClickedRow span.select2-selection.select2-selection--multiple:focus {
    border-color: #5fccff !important;
}

.select2-container--default.select2-container--focus .select2-selection--single:focus,
.controls span.select2-selection.select2-selection--multiple:focus {
    border-color: #5fccff !important;
}

@media only screen and (min-width: 1366px) { /*--form1*/
    .wd-btn { min-width: 86px; max-width: 86px; }
    #btnAddNewLineItem { min-width: 90px; }
    #SaveChangesList { margin-left: 40px !important; }
    /*--form2*/
}

@media only screen and (min-width: 1490px) {
    .wd-btn { min-width: 140px; max-width: 140px; }
    #btnAddNewLineItem { min-width: 90px; }
    #SaveChangesList { margin-left: 93px !important; }
    /*--form2*/
}

@media only screen and (min-width: 1920px) {
    .wd-btn { min-width: 140px; max-width: 140px; }
    .wd-btn { min-width: 130px; max-width: 130px; }
    #SaveChangesList { margin-left: 80px !important; }
    .grid-form-group { padding-right: 3rem; }
    /*--form2*/
}

@media only screen and (min-width: 2048px) {
    .wd-btn { min-width: 140px; max-width: 140px; }
    .wd-btn { min-width: 170px; max-width: 170px; }
    #SaveChangesList { margin-left: 122px !important; }
    /*--form2*/
}

@media only screen and (min-width: 2560px) {
    /*--form1*/
    .wd-btn { min-width: 140px; max-width: 140px; }
    .wd-btn { min-width: 170px; max-width: 170px; }
    #SaveChangesList { margin-left: 122px !important; }
    /*--form2*/
}

.multiple-form { right: 0px !important; width: 0px !important; }

.multiform-leftw-bottom { width: 98% !important; padding-top: 1rem; }


.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice,
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057;
    font-weight: 400;
}