.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: red;
    background-image: none !important;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: red;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
    border-color: red;
}

.kt-portlet .kt-portlet__body {
    padding-bottom: 0px !important;
}

#form-localization label.control-label {
    color: #484b5a !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #484b5a !important;
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
    border-color: #a9a9a9a3 !important;
}

@media only screen and (max-width: 600px) {
    .select2-container .select2-selection--single {
        max-width: 250px !important;
    }

    .select2-selection__arrow {
        display: none !important;
    }
}

.common-form-md {
    padding-left: unset !important;
    margin-right: unset !important;
    margin-left: 16% !important;
}