.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: red;
    background-image: none !important;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: red;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
    border-color: red;
}

.error, #domain-error, #userName-error, #password-error {
    color: red;
    font-weight: 400;
    font-size: 80%;
}

.kt-portlet .kt-portlet__body {
    padding-bottom: 0px !important;
}

.hidden
{
    display:none;
}

#form-edit-company .control-label, 
.select2-container--default .select2-selection--single .select2-selection__rendered, 
.nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link, .nav-tabs.nav-tabs-line a.nav-link {
    color: #484b5a !important;
}

#form-edit-company .form-control {
    border-color: #a9a9a9a3 !important;
    color: #484b5a !important;
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
    border-color: #a9a9a9a3 !important;
}

.neto_numeric::-webkit-outer-spin-button,
.neto_numeric::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.neto_numeric {
    -moz-appearance: textfield;
}

/* remove X from locked tag */
.locked-tag .select2-selection__choice__remove {
    display: none !important;
}

@media(max-width: 768px) {
    .mr-bt-2 {
        margin-bottom:2rem;
    }
}