.kt-portlet .kt-portlet__body {
    padding-bottom: 0px !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: red;
    background-image: none !important;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: red;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
    border-color: red;
}
#form-password .control-label {
    color: #484b5a !important;
}
#form-password .form-control {
    border-color: #a9a9a9a3 !important;
    color: #484b5a !important;
}