#userProfileImageDiv #UploadProfileFile.filepond--root {
    width: 200px;
    height: 200px;
    max-width: none;
}

    #userProfileImageDiv #UploadProfileFile.filepond--root .filepond--drop-label {
        min-height: 200px;
        line-height: 200px;
    }

    #UploadProfileFile.filepond--root .filepond--file-info,
    #UploadProfileFile.filepond--root .filepond--file-status-sub {
        display: none !important;
    }

#userProfileImageDiv .filepond--drop-label {
    padding: 20px;
    background: linear-gradient(140deg, rgba(76, 129, 209, 1) 0%, rgba(13, 109, 219, 1) 45%, rgba(7, 57, 133, 1) 100%);
}

#userProfileImageDiv .filepond--file .filepond--file-status {
    margin-right: 3.6em !important;
}