.Mask {
    width: 175px;
    height: 60px;
    border-radius: 2.3px;
    background-color: #ffffff;
    padding: 10px 10px 0 10px;
    border: 1px solid #e2e2e2;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05) !important;
    transition: box-shadow 0ms;
}



    .Mask .title {
        height: 18px;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #132b31;
    }

.setLeft {
    float: left;
    line-height: 50px !important;
    margin-left: 5px;
}

.setMaskList {
    height: 50px !important;
    width: 100%;
    padding: 0 !important;
    box-shadow: none;
}

    .setMaskList .title {
        width: 45%;
    }

    .setMaskList .Modified {
        width: 15% !important;
        font-weight: bold !important;
    }

    .setMaskList .Lorem-ipsum {
        width: 30%;
        display: block;
    }

    .setMaskList .action-list {
        float: left !important;
    }

    .setMaskList .short-case {
        width: 100%;
    }

.Mask .LeftIco {
    width: 30px;
    height: 50px;
}

.shr {
    background-color: #a3aebb !important;
}

.shred {
    background-color: #37c6d3 !important;
}

.Mask .LeftIco .share {
    margin-top: 14px !important;
    margin-left: 4px !important;
}

.Mask .icon {
    float: left;
}

.Mask .icon-right {
    width: 24px;
    height: 24px;
    float: right;
}

.Mask .Line-2 {
    width: 224px;
    border-color: #e8eaed;
    margin: 10px 0 !important;
}

.Mask .Modified {
    width: 156px;
    height: 15px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.Mask .Lorem-ipsum {
    font-size: 11.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
    height: 30px;
    opacity: 0.8;
}

.Mask .Lorem-ipsum-dolor-si-Copy-5 .text-style-1 {
    color: #aabcd0;
}

.Mask .manImg {
    padding: 4px;
    cursor: pointer;
}

.bdy {
    max-height: 100% !important;
}

.Report-Modal {
    width: 575px;
    height: 378px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
}

    .Report-Modal .Report-Head {
        width: 100%;
        height: 90px;
        object-fit: contain;
        background-image: url('img/group-copy-2.png');
        background-repeat: no-repeat;
    }

    .Report-Modal .Line {
        width: 558px;
        height: 3px;
        border-radius: 3px;
        background-color: #1d52a0;
    }

    .Report-Modal .Label {
        width: 100px;
        height: 17px;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 27px;
        letter-spacing: normal;
        color: #385473;
        text-align: right;
    }

    .Report-Modal .TextBox {
        height: 26px;
        border-radius: 1px;
        background-color: #f4f4f4;
        width: 250px;
    }

    .Report-Modal .Report-Body {
        padding: 15px;
    }

    .Report-Modal .btnCancel {
        width: 112.1px;
        height: 24.4px;
        border-radius: 1px;
        background-color: #d45a5a;
        border: none;
    }

    .Report-Modal .btnNext {
        width: 112.1px;
        height: 24.4px;
        border-radius: 1px;
        border: none;
        background-color: #48b3d0;
    }

    .Report-Modal .Report-Footer {
        float: right;
        margin-right: 100px;
    }

.roundedButton {
    width: 150px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid #e2e2e2;
    display: flex;
}

.Panolar {
    opacity: 0.76;
    font-size: 13.1px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #385473;
}



div.blueTable {
    width: 100px;
    text-align: left;
    border-radius: 25px;
}

.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    padding: 3px 2px;
}

.divTable.blueTable .divTableBody .divTableCell {
    font-size: 13px;
    border: none;
}

.divTable.blueTable .divTableRow:nth-child(even) {
    background: #D0E4F5;
}

.blueTable .tableFootStyle {
    font-size: 14px;
}

    .blueTable .tableFootStyle .links {
        text-align: right;
    }

.blueTable.outerTableFooter {
    border-top: none;
}

    .blueTable.outerTableFooter .tableFootStyle {
        padding: 3px 5px;
    }
/* DivTable.com */
.divTable {
    display: flex;
}

.divTableRow {
    display: flex;
}

.divTableHeading {
    display: table-header-group;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

.hide {
    display: none;
}

.tab-content {
    padding: 10px;
}

#material-tabs {
    position: relative;
    display: block;
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
}

    #material-tabs > a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 0 20px 5px 10px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 400;
        color: #424f5a;
        text-align: left;
        border-bottom: 3px solid #adbcce;
    }

        #material-tabs > a > img {
            margin-right: 5px;
            width: 15px;
        }

        #material-tabs > a.active {
            font-weight: 700;
            outline: none;
            border-bottom: 3px solid #000;
        }

        #material-tabs > a:not(.active):hover {
            background-color: inherit;
            color: #7c848a;
        }

@media only screen and (max-width: 520px) {
    .nav-tabs#material-tabs > li > a {
        font-size: 11px;
    }
}

.yellow-bar {
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 3px;
    background: #458CFF;
    display: block;
    left: 0;
    transition: left .2s ease;
    -webkit-transition: left .2s ease;
}

#tab1-tab.active ~ span.yellow-bar {
    left: 0;
    width: 160px;
}

#tab2-tab.active ~ span.yellow-bar {
    left: 165px;
    width: 82px;
}

#tab3-tab.active ~ span.yellow-bar {
    left: 253px;
    width: 135px;
}

#tab4-tab.active ~ span.yellow-bar {
    left: 392px;
    width: 163px;
}

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}


.main-menu:hover, nav.main-menu.expanded {
    width: 230px;
}

.main-menu {
    background: #212121;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    /*top: 44px;*/
    bottom: 0;
    height: 100%;
    width: 230px;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
    margin-left: -20px;
}

    .main-menu > ul {
        margin: 0;
        margin-top: 20px;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 230px;
    }

        .main-menu li > a {
            position: relative;
            display: table;
            border-collapse: collapse;
            border-spacing: 0;
            color: #999;
            font-size: 16px;
            text-decoration: none;
            -webkit-transform: translateZ(0) scale(1,1);
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
            width: 100%;
            line-height: 40px;
        }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 190px;
        left: 2px;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

a:hover, a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    nav ul, nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }

    .main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        background-color: #414141;
    }




.zoom {
    height: 70px;
    float: right;
}

.zoom-fab {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease-out;
    color: #FFF;
}



.zoom-btn-large {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.zoom-btn-person {
    background-color: #F44336;
}

    .zoom-btn-person:hover {
        background-color: #e57373;
    }

.zoom-btn-doc {
    background-color: #ffeb3b;
}

    .zoom-btn-doc:hover {
        background-color: #fff176;
    }

.zoom-btn-tangram {
    background-color: #4CAF50;
}

    .zoom-btn-tangram:hover {
        background-color: #81c784;
    }

.zoom-btn-report {
    background-color: #2196F3;
}

    .zoom-btn-report:hover {
        background-color: #64b5f6;
    }

.zoom-btn-feedback {
    background-color: #9c27b0;
}

    .zoom-btn-feedback:hover {
        background-color: #ba68c8;
    }

.zoom-menu {
    transform: translateY(-50%);
}

    .zoom-menu li {
        display: inline-block;
    }

.zoom-card {
    position: absolute;
    right: 150px;
    bottom: 70px;
    transition: box-shadow 0.25s;
    padding: 24px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #009688;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #FFF;
}

    .zoom-card ul {
        -webkit-padding-start: 0;
        list-style: none;
        text-align: left;
    }

.scale-transition {
    transition: transform 0.3s all !important;
}

    .scale-transition.scale-out {
        transform: scale(0);
        transition: transform 0.2s !important;
    }

    .scale-transition.scale-in {
        transform: scale(1);
    }

.left-icon {
    width: 16px;
    height: 16px;
    padding: 7px 10px 8px 20px;
}

.error {
    border-color: #b91101 !important;
    color: #b91101 !important;
}

.modal-backdrop.fade.in {
    opacity: .9 !important;
}

.m-header-search__wrapper {
    display: table;
    table-layout: fixed;
    text-align: right;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    margin-top: 13px;
}

.m-header-search__icon-search {
    width: 30px;
    padding: 0 0 0 10px;
    color: #bcc0cd;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 0 !important;
    cursor: pointer;
}

.m-header-search__input-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.m-header-search__input {
    border: 0 !important;
    background: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 1rem;
    padding: 8px 0 8px 0 !important;
    display: block;
    color: #908db0 !important;
    width: 150px;
    margin-bottom: 0 !important;
    -webkit-transition: width .4s ease-out !important;
    transition: width .4s ease-out !important;
}

    .m-header-search__input:focus {
        -webkit-transition: width .4s ease-out;
        transition: width .4s ease-out;
        width: 220px;
    }

.short-case {
    text-overflow: ellipsis;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
}

.menu-button {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
    right: 20px;
    top: 80px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    /*background-color: #37c6d3;
    color: #FFFFFF;
    font-size: 34px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.26), 0 1px 1px 0 rgba(0, 0, 0, 0.22);*/
    cursor: pointer;
}

    .menu-button .zmdi-share {
        font-style: inherit !important;
    }




    .menu-button:hover {
        /*background: #37c6d3;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.28), 0 1px 2px 0 rgba(0, 0, 0, 0.25);*/
    }

    .menu-button a {
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        transition: 0.4s;
        opacity: 0;
        width: 0px;
        height: 0px;
        text-align: center;
        line-height: 53px;
        border-radius: 50%;
        color: #FFFFFF;
        font-size: 24px;
        /*box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.26), 0 1px 1px 0 rgba(0, 0, 0, 0.22);*/
        cursor: pointer;
    }

        .menu-button a:hover {
            /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 2px 2px 0 rgba(0, 0, 0, 0.25);*/
        }

        .menu-button a:nth-child(2) {
            -webkit-transition-delay: 0.3s;
            -moz-transition-delay: 0.3s;
            transition-delay: 0.3s;
            position: absolute;
            right: 30px;
            bottom: 30px;
            /*background: #55acee;*/
        }

        .menu-button a:nth-child(3) {
            -webkit-transition-delay: 0.4s;
            -moz-transition-delay: 0.4s;
            transition-delay: 0.4s;
            position: absolute;
            right: 30px;
            bottom: 30px;
            /*background: #dc4e41;*/
        }


    .menu-button:hover a {
        opacity: 1;
        width: 50px;
        height: 54px;
    }

        .menu-button:hover a:nth-child(2) {
            right: 105px;
            bottom: 0px;
        }

            .menu-button:hover a:nth-child(2):hover {
                -webkit-transition-delay: 0s;
                -moz-transition-delay: 0s;
                transition-delay: 0s;
                /*background: #3ea1ec;*/
            }

        .menu-button:hover a:nth-child(3) {
            right: 55px;
            bottom: 0;
        }

            .menu-button:hover a:nth-child(3):hover {
                -webkit-transition-delay: 0s;
                -moz-transition-delay: 0s;
                transition-delay: 0s;
                /*background: #d83a2b;*/
            }





    .menu-button .fa {
        width: 50px;
        height: 50px;
    }
