body {
    margin-top: -35px !important;
}

.modal-backdrop.fade.in {
    background: transparent !important;
}

.jconfirm .jconfirm-cell {
    vertical-align: top !important;
}

.jconfirm.jconfirm-white .jconfirm-bg, .jconfirm.jconfirm-light .jconfirm-bg {
    background-color: transparent !important;
}

.jconfirm .jconfirm-box.jconfirm-type-dark {
    border-top: solid 3px !important;
}