.taskOverflow {
    overflow-y: scroll
}

.hidden {
    display: none;
}

.data {
    width: 70%;
}

.btn {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

.kt-subheader--enabled.kt-subheader--transparent:not(.kt-subheader--fixed) .kt-content {
    padding-bottom: 0px;
}

/*Mobil görünüm*/
@media only screen and (max-width: 500px) {
    .form-control {
        width: 64%;
        display: inline !important;
    }

        .form-control.datetime {
            width: 65%;
        }

    .input-group {
        width: 155px;
    }
}
@media only screen and (max-width:1400px){
    .kt-subheader--enabled.kt-subheader--transparent:not(.kt-subheader--fixed) .kt-content{
        max-width:none !important;
    }    
}

.datetimepicker thead th.next > i,
.datetimepicker thead th.prev > i {
    display: inline-block;
    font: normal normal normal 16px / 1 "LineAwesome";
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 1.2rem;
}

    .datetimepicker thead th.next > i:before {
        content: "\f112";
    }

    .datetimepicker thead th.prev > i:before {
        content: "\f111";
    }