.dropdown-menu.suggestions-dropdown {
    min-width: 350px;
    max-width: 450px;
    padding: 1rem;
}

.btn-indigo {
    color: #fff;
    background-color: #6610f2;
    border-color: #6610f2;
}

    .show .btn-indigo,
    .btn-indigo:hover,
    .btn-indigo:active {
        color: #fff;
        background-color: #550ec9;
        border-color: #550ec9;
    }

button.btn.suggestions-trigger {
    height: 2.9rem;
    width: 2.9rem;
}

    button.btn.suggestions-trigger.ai-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

        button.btn.suggestions-trigger.ai-icon::before {
            content: "";
            position: absolute;
            background-image: url("../img/ai-robot.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            width: 80%;
            height: 80%;
        }

button.btn.btn-icon.suggestions-trigger i {
    font-size: 1.5rem;
}


.suggestions-dropdown .suggestion-inner .progress .progress-bar {
    background-color: var(--primary);
}

.suggestions-dropdown .suggestion-item .suggestion-percentage {
    color: var(--primary);
}

.btn-group.suggestions-outer .btn.dropdown-toggle.suggestions-trigger:after {
    content: "";
    display: none;
}

.suggestions-dropdown .suggestion-inner .suggestion-item {
    margin-right: 1rem;
    padding: 0.75rem 0.5rem;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

    .suggestions-dropdown .suggestion-inner .suggestion-item:hover {
        background-color: #f7f8fa;
        cursor: pointer;
    }

.suggestions-outer .suggestions-dropdown .loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    border-radius: 4px;
    background-color: #ffffff;
    z-index: 3;
}

.suggestions-outer .suggestions-dropdown .loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    border-radius: 4px;
    background-color: #ffffff;
    z-index: 3;
}

.kt-spinner.kt-spinner--indigo:before {
    border: 2px solid #6610f2;
    border-right: 2px solid transparent;
}

.progress__indicator-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.progress__inner {
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ai-loader-message {
    position: relative;
    top: -2rem;
}

.progress__indicator-outer .ai-loader-message {
    top: -1rem;
}
