@media (min-width: 1910px) {
    #detailPanelPartial .container {
        max-width: 1910px;
    }
}

.bottomSectionHalfScreen {
    margin-left: 0% !important;
}

.bottomSectionFullScreen {
    margin-left: 0px !important;
}

@media (min-width: 1910px) {

    .bottomSectionHalfScreen {
        margin-left: -0.8% !important;
    }

    .kt-quick-panel__content #bottomSection {
        margin-left: -0.8%
    }
}

.kt-quick-panel .kt-quick-panel__content {
    padding-bottom: 0px;
    margin-top: -12px;
}

.kt-subheader .btn {
    padding-left: 5px !important;
}

.btn-brand-efl {
    color: #fff;
    background-color: #22b9ff;
    border-color: #22b9ff;
    color: #fff;
}

    .btn-brand-efl:hover {
        color: #fff;
        background-color: #00abfb;
        border-color: #00a3ee;
    }

#btnBackHref:hover {
    color: white !important;
}

.dropdown-menu.dropdown-menu-md {
    max-width: 215px !important;
}

.preventPointerEventsNone {
    pointer-events: auto !important;
    opacity: 1 !important;
}

.hide {
    display: none
}

.select2-container--disabled > span.selection > span {
    border: none;
    pointer-events: none;
}
.select2-selection--single span.select2-selection__placeholder {
    color: #484b5a !important;
}
.frm-drp-control .select2-container--default .select2-selection--multiple, .frm-drp-control .select2-container--default .select2-selection--single {
    border: 1px solid #a9a9a9a3 !important;
    background-color: #f2f3f7 !important;
}
.frm-assgmn-control .select2-container--default .select2-selection--multiple, .frm-assgmn-control .select2-container--default .select2-selection--single {
    border: 1px solid #a9a9a9a3 !important;
    background-color: #f2f3f7 !important;
}

.gridReadonlyBackgroud {
    opacity: 0.8;
    background: #f7f8fa !important;
}

.pagination #previous-page {
    margin-right: 5px;
}

.pagination #next-page {
    margin-left: 5px;
}

.gridLeftRightPadding .page-link {
    border-radius: 3px;
    margin-right: 1.5px;
    margin-left: 1.5px;
}

.full-screen-margin {
    margin-left: 1%;
}
@media (min-width: 1920px) {

    .litbottomcontainer {
        max-width: 1900px;
    }
}



/*datetimepicker*/
.datetimepicker thead th.next > i, .datetimepicker thead th.prev > i {
    display: inline-block;
    font: normal normal normal 16px/1 "LineAwesome";
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 1.2rem;
}

    .datetimepicker thead th.next > i:before {
        content: "\f112";
    }

    .datetimepicker thead th.prev > i:before {
        content: "\f111";
    }

.form-control-solid, .controls .currentClickedRow span.select2-selection.select2-selection--single, .controls span.select2-selection.select2-selection--multiple {
    background-color: #f2f3f7 !important;
    border: 1px solid #a9a9a9a3 !important;
    color: #3F4254;
    transition: color 0.2s ease;
}

    .form-control-solid:focus, .controls .currentClickedRow span.select2-selection.select2-selection--single:focus, .controls .currentClickedRow span.select2-selection.select2-selection--multiple:focus {
        background-color: #b5b5c34f;
        border-color: #4c81d1 !important;
    }

    .form-control-solid.error, .form-control.error {
        background-color: #b5b5c34f;
        border-color: #dc3545 !important;
    }
span.select2-selection__arrow{
    right:4px !important;
}

.newTableContainer .form-control:focus {
    border-color: #4c81d1 !important;
}

.select2-container--default.select2-container--focus .select2-selection--single:focus,
.controls span.select2-selection.select2-selection--multiple:focus {
    border-color: #4c81d1 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice,
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057;
    font-weight: 400;
}

.kt-radio, .kt-checkbox {
    padding-left: 23px !important
}