.qq-upload-button {
    padding-top: 8px;
}

.alert-secondary {
    display: flex !important;
}

/*Quick panel close button*/
#kt_quick_panel_close_btn {
    display: none;
}

.btn {
    font-size: 11px;
}

#HeaderBarWork {
    padding-left: 2px !important;
}

#kt_content_taskdetail {
    padding-bottom: 0px;
    padding-top: 1px !important;
}

@media only screen and (min-width: 992px) {
    #headBarReAssignTask {
        padding-left: 2px !important;
        margin-top: -5px;
    }

    .labelElement {
        margin-left: 30px;
    }

    #divAllowReassignSection .select2-container {
        min-width: 250px !important;
        max-width: 250px !important;
    }
}

@media only screen and (max-width: 600px) {
    .popupselecttext
    {
        width:250px !important;
    }
    #lblActions
    {
        display:none;
    }
    .AssignBackTo {
        float: left;
        margin-left: 20px;
        margin-bottom:5px;
    }

    #btnBackHref
    {
        display:none;
    }

    #divAllowReassignSection {
        margin-left: 16px !important;
    }

    #taskDetailPanelContainer .select2-selection--single { max-width: 250px; }
    #headBarReAssignTask .select2-selection--single { max-width: 250px; }
    #headBarReAssignTask .select2-selection__arrow {display:none;}
    #taskDetailPanelContainer .select2-selection--multiple { max-width: 250px; }
}

.stickybutton {

}

.error {
    color: #dc3545;   
}
span.error {
    font-size: 100% !important;
}

.help-inline {
    font-size: 12px !important;
}

.error.igr {
    border-color: #fd397a;
}

.clickedAddButton {
    position: absolute;
    margin-left: 15%;
    margin-top: 5px;
}

.AssignBackTo {   
    color: #74788d !important;
    font-weight: 480;
}
    .AssignBackTo:hover {
        background: #5867dd !important;
        color: white !important;
    }

.taskDetallModalHeadAreaBox { background: #fcfcff; box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) !important; padding-top: 10px; }