@media (min-width: 1920px) {
    #detailPanelPartial .container {
        max-width: 1920px;
    }
}

.bottomSectionHalfScreen {
    margin-left: 0% !important;
}

.bottomSectionFullScreen {
    margin-left: 1.2% !important;
}

@media (min-width: 1920px) {

    .bottomSectionHalfScreen {
        margin-left: -0.8% !important;
    }

    .kt-quick-panel__content #bottomSection {
        margin-left: -0.8%
    }
}

.kt-quick-panel .kt-quick-panel__content {
    padding-bottom: 0px;
    margin-top: -12px;
}

.btn-brand-efl {
    color: #fff;
    background-color: #22b9ff;
    border-color: #22b9ff;
    color: #fff;
}

    .btn-brand-efl:hover {
        color: #fff;
        background-color: #00abfb;
        border-color: #00a3ee;
    }

#btnBackHref:hover {
    color: white !important;
}

.dropdown-menu.dropdown-menu-md {
    max-width: 215px !important;
}

.preventPointerEventsNone {
    pointer-events: auto !important;
    opacity: 1 !important;
}

.hide {
    display: none
}

.select2-container--disabled > span.selection > span {
    border: none;
    pointer-events: none;
}

.gridReadonlyBackgroud {
    opacity: 0.8;
    background: #f7f8fa !important;
}

.whiteBackGround {
    background: #FFFFFF !important;
}

.pagination #previous-page {
    margin-right: 5px;
}

.pagination #next-page {
    margin-left: 5px;
}

.gridLeftRightPadding .page-link {
    border-radius: 3px;
    margin-right: 1.5px;
    margin-left: 1.5px;
}

.full-screen-margin {
    margin-left: 2.2%;
}

@media (min-width: 1920px) {

    .litbottomcontainer {
        max-width: 1900px;
    }
}
