.table-loading {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.65);
    padding: 25px 40px;
    border-radius: 8px;
    text-align: center;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Table td,
#Table th {
    white-space: nowrap;
}

/* Satır yüksekliği minimize */
#Table td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle !important;
}

/* Grup başlıkları (Cari) de tek satır */
.group-row {
    white-space: nowrap;
}

.modal-shipment {
    max-width: 90% !important; /* Modal genişliği */
}

    .modal-shipment .modal-content {
        border-radius: 12px;
        padding: 10px;
    }

    .modal-shipment .modal-body {
        max-height: 70vh;
        padding-right: 0px;
    }

        .modal-shipment .modal-body table td {
            padding: 2px 10px !important;
        }

    .modal-shipment input[readonly] {
        background-color: #f5f5f5 !important;
        color: #555 !important;
        cursor: not-allowed;
    }

@media (max-width: 1200px) {
    .modal-shipment {
        max-width: 95% !important;
    }
}

@media (max-width: 768px) {
    .modal-shipment {
        max-width: 100% !important;
        margin: 10px;
    }
}


#TableCustomer thead .dt-filter-row th {
    padding: 4px !important;
    background: #f7f7f7 !important; /* başlık ile uyumlu açık renk */
    border-bottom: 1px solid #ddd !important;
}

#TableCustomer thead .dt-header th {
    background: #fafafa !important;
    border-bottom: 1px solid #ccc !important;
}

#TableCustomer input.form-control-sm {
    height: 30px !important;
}

.toast-body {
    font-size: 15px !important;
}

.dataTables_wrapper .dataTables_scrollBody {
    min-height: 500px !important;
}

#DocumentViewModal .modal-xl {
    --bs-modal-width: 820px;
}

#DocumentViewModal .modal-header {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #ddd;
}

.col-cari {
    width: 500px !important;
    max-width: 500px !important;
}


table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 0px;
}

table.table-bordered.dataTable th:first-child, table.table-bordered.dataTable th:first-child, table.table-bordered.dataTable td:first-child, table.table-bordered.dataTable td:first-child {
    border-left-width: 0px;
}

/* Tüm checkbox hizalama alanı – SABİT genişlik */
.rg-check-area {
    width: 32px; /* Aynı çizgide hizalanması için */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grup satırı görünümü */
.rg-row {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom:5px;
}

.rg-title {
    margin-left: 10px;
}

.dtrg-group {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.dtrg-level-0 th {
    padding: 0px !important;
    background-color: #f2f2f2 !important;
}


.filter-depo {
    height: 34px;
    font-size: 0.9rem;
}

.shipment-actions {
    position: static !important;
    top: auto !important;
    z-index: auto !important;
}

/* Navbar action başlangıçta gizli */
.navbar-action-hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: all 0.2s ease;
}

/* Scroll sonrası görünür */
.navbar-action-visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.app-brand-text.demo {
    font-size: 1rem !important;
}

div.dt-button-background{
    z-index:9999 !important;
}

div.dt-button-collection{
    z-index:99999 !important;
}

div.dt-container div.dt-layout-row{
    margin:0px !important;
}

div.dt-buttons{
    padding:20px !important;
}

div.dt-container{
    position:static;
}