body
{
    font-family: "Segoe UI" , "Segoe UI Web Regular" , "Segoe UI Symbol" , "Helvetica Neue" , "BBAlpha Sans" , "S60 Sans" ,Arial, "sans-serif";
    font-size: 12px;
    margin: 0;
    text-align: center;
    background-color: #039AAE;
    padding: 0;
}
.wrapper
{
    width: 900px;
    margin: 40px auto 0 auto;
    text-align: left;
    position: relative;
}
.main
{
    float: left;
    width: 100%;
    position: relative;
}
.loginpanel
{
    width: 400px;
    padding: 24px 0 20px 0;
    margin: 0 auto 0 auto;
    background-color: #fff;
}
.loginpanel form
{
     
}
.loginpanel .capsule
{
    padding: 4px 20px 10px 20px;
    clear: left;
}
.loginpanel .vali
{
    padding: 0 0 4px 0;
     clear: left;
     color: #780000;
}
.loginpanel .capsule label
{
    padding: 0 0 0 4px;
    font-size: 14px;
}
.loginbutton
{
    margin: 20px 0 0 0;
    background-color: #039aae;
    border: 0;
    color: #fff;
    min-width: 6em;
    font-weight: bold;
    padding: 3px 12px 5px;
}
.footer
{
    clear: both;
    padding: 4px 0 0 0;
    margin: 40px 0 0 0;
}