.table-bordered td {
    border: 0.1px solid #a9a9a9a3 !important;
}

.btn [class^="flaticon2-"] {
    font-size: 0.6rem !important;
}

@supports (-ms-ime-align:auto) {
    .newTableContainer {
        position: sticky
    }
}

.newTableContainer .zero-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.newTableContainer .wrap {
    position: relative;
    margin: 0 auto;
}

.newTableContainer .tableTopBar {
    margin: 20px;
}

.newTableContainer #searchbar input {
    float: right !important;
    clear: both !important;
}

.newTableContainer {
    overflow-x: auto !important;
}

    .newTableContainer th {
        white-space: nowrap;
        background-color: #ffffff;
        overflow: hidden;
    }

        .newTableContainer th span {
            position: relative;
            vertical-align: middle;
            height: 40px;
        }

    .newTableContainer .first-del-btn {
        vertical-align: middle;
        display: none;
        margin-top: 10px !important;
    }

    .newTableContainer .last-del-btn {
        vertical-align: middle;
        display: none;
    }

    .newTableContainer .td-fixed {
        /*position: absolute !important;*/
        background: white;
        z-index: 1;
    }

    .newTableContainer .all-table {
        table-layout: fixed;
        width: 100%;
        max-width: none;
        margin-top: 0;
        border-spacing: 0;
        border: 0.1px solid #a9a9a9a3 !important;
    }

    .newTableContainer .none {
        display: none !important;
    }

    .newTableContainer td {
        padding: 3px !important;
        background-color: white;
        border-width: 1px;
        border-style: solid;
        border-color: #a9a9a9a3 #a9a9a9a3 #a9a9a9a3 #a9a9a9a3;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

        .newTableContainer td .noborder {
            border: 0;
        }

        .newTableContainer td:last-child div a i {
            padding-top: 13px;
        }

        .newTableContainer td .input-group {
            min-width: 120px;
        }

        .newTableContainer td .inputWrapper {
            height: 38px;
            width: 115px;
            padding: 9px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            background-color: rgba(93, 120, 255, 0.1);
            color: #22b9ff;
            display: inline-block;
            text-align: center;
            float: right;
            font-size: 0.85rem;
        }

            .newTableContainer td .inputWrapper:hover {
                background-color: #22b9ff;
                color: white;
            }

            .newTableContainer td .inputWrapper > .svg-inline--fa {
                height: 4em !important;
            }

            .newTableContainer td .inputWrapper > .fileInput {
                cursor: pointer;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 99;
                font-size: 50px;
                opacity: 0;
                -moz-opacity: 0;
                filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)
            }

        .newTableContainer td .fileContainer {
            height: 38px;
            padding: 9px;
            width: 100%;
            position: relative;
        }

            .newTableContainer td .fileContainer span {
                padding-right: 5px;
                vertical-align: middle;
                cursor: pointer;
                font-weight: 500;
                color: #74788d;
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                float: left;
            }

                .newTableContainer td .fileContainer span:hover {
                    color: #22b9ff !important;
                }

            .newTableContainer td .fileContainer a {
                cursor: pointer;
                font-size: 1.0rem !important;
                color: #a2a5b9 !important;
                float: right;
                margin-right: -1px;
                /*position: absolute;*/
            }

                .newTableContainer td .fileContainer a:hover {
                    color: #22b9ff !important;
                }

                .newTableContainer td .fileContainer a i.fa-times:hover {
                    color: #22b9ff !important;
                }

        .newTableContainer td .clear {
            position: absolute;
            padding-top: 10px;
            cursor: pointer;
            right: 10px;
            z-index: 10;
        }

            .newTableContainer td .clear:hover {
                background-color: #f4f5f8;
            }

    .newTableContainer .invalids,
    .newTableContainer .invalids:focus {
        border: 1px solid red !important;
    }

    .newTableContainer a.pps-clear.clear i:hover {
        color: #22b9ff !important;
    }

    .newTableContainer .select2-selection__clear {
        font-family: sans-serif !important;
        font-size: 1.46rem !important;
    }

        .newTableContainer .select2-selection__clear:hover {
            color: #22b9ff !important;
        }

        .newTableContainer .select2-selection__clear.show_clear_button {
            display: block !important;
        }

    .newTableContainer .select2 {
        width: 100% !important;
    }

    .newTableContainer .m-group-checkable {
        width: 20px;
        margin: 0 auto;
    }

    /*.newTableContainer { margin-bottom: -20px; }*/
    .newTableContainer .loader {
        width: 100%;
        height: 30px;
    }

.onprocess {
    background-color: #e1e1ef;
}

.newTableContainer td[type='PopupSelect'] input.popup-control {
    background-color: transparent !important;
}

/*.newRowLine {
    margin-left: -10px;
}*/

.newLinePlusIcon {
    margin-left: -8px;
}

.newTableContainer tr th {
    color: #495057;
    font-size: 1rem;
    font-weight: 600;
    border: 0.1px solid #a9a9a9a3 !important;
}

    .newTableContainer tr th:has(i.fa) {
        font-weight: 500;
    }

.newTableContainer .noborder-left {
    border-left-style: hidden !important;
    border-top-style: hidden !important;
    border-bottom-style: hidden !important;
}

.newTableContainer .noborder-right {
    border-right-style: hidden !important;
    border-top-style: hidden !important;
    border-bottom-style: hidden !important;
}

.active-grid {
    border: 1px solid #4c81d1 !important;
    border-radius: 4px;
}

.active-grid-list {
    border: 1px solid #22b9ff !important;
    border-radius: 4px;
}

.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

.gridLeftRightPadding {
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}

.notvalid {
    border: 1px solid red !important;
}

.litbottomcontainer .page-link:hover {
    background-color: #4c81d1;
    color: #fff;
}

.litbottomcontainer .page-link {
    background-color: #fff;
    color: #6c7293;
    border: 0;
}

.litheadbarwrap {
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    z-index: 89;
    height: 39px;
    background: white;
}

.peek-mode .litheadbarwrap {
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    z-index: 89;
    height: 7px;
    background: white;
}

.work-mode .litheadbarwrap {
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    z-index: 89;
    height: 39px;
    background: white;
}

.litheadbarwrap-taskdetail {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: 89;
    height: 39px;
    background: white;
}

.litheadbarwrap-searchdetail {
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    z-index: 89;
    height: 39px;
    background: white;
}

.litheadbarwrap-taskdetailpeek {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    z-index: 89;
    height: 7px;
    background: white;
}

.gridReadonlyBackgroud .litheadbarwrap,
.gridReadonlyBackgroud .litheadbarwrap-taskdetail,
.gridReadonlyBackgroud .litheadbarwrap-searchdetail,
.gridReadonlyBackgroud .litheadbarwrap-taskdetailpeek {
    background: #f7f8fa !important;
}

/*.litstickybottom-work {
    position: -webkit-sticky;
    position: sticky;
    bottom: 106px;
    z-index: 89;
}

.litstickybottom-peek {
    position: -webkit-sticky;
    position: sticky;
    bottom: 42px;
    z-index: 89;
}

.litbottomcontainer-work {
    position: -webkit-sticky;
    position: sticky;
    bottom: 63px;
    z-index: 89;
}

.litbottomcontainer-peek {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    z-index: 89;
}*/

.newTableContainer .invalids + span {
    border: 1px solid red !important;
    border-radius: 4px !important;
}

.newTableContainer .invalids:not(:checked) + span {
    border: 1px solid red !important;
    border-radius: 4px !important;
}

.litbottomcontainerrow {
    margin-top: -23px;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
    border-radius: 4px !important;
}

.form-control.col-search-input {
    padding: 0.5rem;
    border: 1px solid #e5e5e5;
    background-color: #f2f3f7;
}

.input-group.col-search-input.has-icon {
    position: relative;
}

    .input-group.col-search-input.has-icon i {
        position: absolute;
        top: 17px;
        left: 5px;
    }

.input-group.col-search-input > .form-control:not(:first-child) {
    border-radius: 4px;
}

.newTableContainer .select2-selection__rendered {
    padding-right: 40px !important;
}

table.compact {
    table-layout: fixed;
    width: 100%;
}
